<h1><%= @dish.name%></h1>
<p><%= @dish.description%> </p>
Calories:<%=  @dish.calorie_count%> <br>

<% @dish.ingredients.each do |ingredient| %>
Ingredients: <%= ingredient.name%><br>
<% end %>

Created by: <%= @dish.chef.name%>
