<h1><%= @dish.name %></h1>
<h3><%= @dish.description %></h3>
<h3>Chef: <%= @dish.chef.name %></h3>
<h3>Ingredients</h3>
<ul>
  <% @dish.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
    <% end %>
</ul>
<p>Total Calories: <%= @dish.calorie_count %></p>
