<div class="attributes">
  <h1><%= @dish.name %></h1>
  <p><b>Chef:</b> <%= @chef.name %></p>
  <p><b>Description:</b> <%= @dish.description %></p><hr>
</div>
<h4>Ingredients:</h4>
<% @ingredients.each do |ingredient| %>
  <section class="ingredient-<%= ingredient.id %>">
      <%= ingredient.name %> <%= form_with url: "/dishes/#{@dish.id}/ingredients/#{ingredient.id}", method: :delete, local: :true do |f|%>
        <%= f.button "Remove" %>
      <% end %><br>
    </section>
  <% end %> <hr>
<section class="calories">
  <p><b>Total Calories:</b> <%= @dish.calories %></p>
</section>