<h1><%= @dish.name %></h1>
<p><%= @dish.description %></p>
<ul>
  <% @dish.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
  <% end %>
</ul>
<p><%= @dish.total_calories %></p>
<h2><%= @dish.chef.name %></h2>
