<h2><%= @dish.name %></h2>
<h4><%= @dish.description %></h4>
<h4><%= @dish.ingredient.each do |ingredient| %></h4>
  <h6> <%= ingredient.name %></h6
    <% end %>
<h4><%= @dish.chef.name %></h4>
<h4><%= @dish.calorie_count %></h4>
