<% @chef.dishes.each do |dish| %>
<h3> Dish Total Calories: <%= dish.total_calories %> </h3>
  <%= dish.name %>
  <%= dish.description %>
  <% dish.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <% end %>
  <%= @chef.name %>
<% end %>
