<%= @dish.name %> , <%= @dish.description %>
<section id='ingredients'>
  <ol>
    <% @dish.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
    <% end %>
  </ol>
  <p>Chef: <%= @dish.chef.name %> </p>
</section>
<p>Total Calories: <%= @dish.total_calories %></p>
