<h2>Chef: <%=@chef.name%> </h2>
<p>Name: <%=@dish.name%></p>
<p>Description: <%=@dish.description%></p>
<p>Ingredients: <p>
  <% @dish.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
  <% end %>
<p>Total Calories: <%= @dish.ingredients.sum(:calories) %></p>

