<h1><%= @dish.name %></h1>
<p>Made by <%= @dish.chef.name   %></p>
<p><%= @dish.description %></p>

<h3>Ingredients:</h3>
<%= @dish.ingredients.each do |ingredient| %>
<p><%= ingredient.name %>, <%= ingredient.calories %> calories</p>
<% end %>
