<h1><%= @dish.name %></h1>

<p><%= @dish.description %></p>
<h3>Ingredients:</h3>
<% @dish.ingredients.each do |ingredient| %>
<p><%= ingredient.name %></p>
<% end %>
<h4>Total Calories: <%= @dish.total_calories %></h4>
<p>Chef: <%= @dish.chef.name %></p>