<h2>Name of dish: <%= @dish.name %></h2>
<h2>Description of dish: <%= @dish.description %></h2>
<h2>Chef's Name: <%= @dish.chef.name %></h2>

<h3>Total Calories: <%= @dish.total_calories %></h3>

<section id="ingredients">
  <h2>Ingredients:</h2>
  <% @dish.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
  <% end %>
</section>
