<h1><%= @dish.name %></h1>
<p>Description: <%= @dish.description %></p>
<section class= "chef">
  <h3>Chef: <%= @dish.chef.name %></h3>
</section>

<section class= "dish-ingredients">
  <h3>Ingredients:</h3>
  <% @dish.dish_ingredients.each do |dish_ingredient| %>
    <section class= "ingredient-<%=dish_ingredient.ingredient.id%>">
      <p><%= dish_ingredient.ingredient.name %></p>
      <%= button_to 'Remove Ingredient', "/dish_ingredients/#{dish_ingredient.id}", method: :delete, params: {dish_id: @dish.id} %>
    </section>
  <% end %>
</section>

<section class= "calorie-count">
  <h3>Total Calorie Count: <%= @dish.total_calorie_count %></h3>
</section>
