<h2><%= @dish.name %></h2>
<p><%= @dish.description %></p>
<section class="ingredients">
  <ul>Ingredients:
    <% @dish.ingredients.each do |ingredient| %>
      <div id="ingredient-<%= ingredient.id %>">
        <li><%= ingredient.name %></li>
      </div>
    <% end %>
  </ul>
</section>

<h3>Made by Chef: <%= @chef.name %></h3>
<h4>Total Calories: <%= @dish.total_calories%></h4>
