<h1> Dish: <%= @dish.name %> </h1>

<div id="dishs-<%= @dish.id %>">
<h4>Dish Name: <%= @dish.name %></h4>
<h4>Dish Description: <%= @dish.description %></h4>
<h4>Dish Chef: <%= @dish.chef_id %></h4>
<% @dish.ingredients.each do |ingredient| %>
  <h4>Ingredients: <%= ingredient.name %></h4> 
<% end %>
</div>
