<h1>Dish Information</h1>

<section id='dish-info'>
  <p>Name: <%= @dish.name %></p>
  <p>Description: <%= @dish.description %></p>
  <p>Calories: <%= @dish.calories %></p>
  <p>Chef: <%= @dish.chef_name %></p>
  <section id='ingredients'>
    <p>Ingredients:</p>
    <ol>
      <% @dish.ingredients.each do |ingredient| %>
        <li>
          <%= ingredient.name %>
          <% # TODO stopped at this vvvv line %>
          <%= button_to 'Delete', id: "delete-ingredient-#{ingredient.id}", dish_ingredient_path(@dish, ingredient), method: :delete %>
        </li>
      <% end %>
    </ol>
  </section>
</section>
