<p><%= @dish.name %></p>
<p><%= @dish.description %></p>
<p>Total Calories: <%= @dish.total_calories %></p>
<ol id="dish-ingredients">
  <% @dish.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ol>
<%= @dish.chef.name %>
