<h1><%= @dish.name %></h1>

<ul>
  <li>Description: <%= @dish.description %></li>
  <li>Ingredients: <%= @dish.ingredient_list.join(", ") %></li>
  <li>Chef: <%= @dish.chef.name %></li>
  <li>Calories: <%= @dish.calorie_count %></li>
</ul>