<h1>Dish name: <%= @dish.name %></h1>
<h2>Description: <%= @dish.description %></h2>
<h3>Calorie count: <%= @dish.calories %></h3>
<h3>Chef: <%= @dish.chef.name %></h3>
<h4>Ingredients:</h4>
<% @dish.ingredients.each do |ingredient| %>
<p><%= ingredient.name %></p>
<% end %>
