<h2>Dish name: <%= @dish.name %></h2>
<p>Description: <%= @dish.description %></p>
<p>Total calories: <%= @dish.total_calories %>

<h4>Ingredents in this dish:</h4>
<ul id="dish-<%= @dish.id %>">
  <% @dish.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p>Chef's name: <%= @dish.chef.name  %></p>
